*{
    box-sizing: border-box;
}

.form{
	background: #fff;
    border: 1px solid #666;
    margin-top:  250px;
    width: 600px;
    padding:  20px;
}

.input{
	width: 300px;
	float: left;
}

.codigo{
	float: left;
	margin-left: 600px;
}

.tabla{

	padding: 27px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #999999;
}

.tabla-principal{
	color: var(--green);
	
}
