*{
    box-sizing: border-box;
}

.form{
	background: #fff;
    border: 1px solid #666;
    margin-top:  250px;
    width: 600px;
    padding:  20px;
}

.input{
	width: 300px;
	float: left;
}

.codigo{
	float: left;
	margin-left: 600px;
}


body{
	background-color: white;
	font-family:  sans-serif;
}

#main-conteiner{
	margin:  150px auto;
	width:  600px;
}

.table{
	background: white;
	text-align: left;
	border-collapse: collapse;
	width:  100%;
}

th,td{
	
	padding: 20px;

}

thead{
	background-color: #4caf50;
	border-bottom: solid 5px #4caf50;
	color: white;
}
/**#ddd**/
tr:nth-child(even){
	background-color:#ddd ;
}
/** animacion horrible dela tabla**/
/**tr:hover td{
	background-color: #369681;
	color: white;
}**/

