<footer>
<div class="footer">
    <div class="footer__contenedor.Ar">
        <!-- <p Style ="float:right"><a href="#" class="boton">^</a></p> -->
    </div>
    <div class="footer__contenedor-Ab">
        <span class="footer__texto">© 2021 MarketNow. Derechos reservados</span>
        <a href="#"><i data-feather="home" class="footer__icono footer__centrar"></i></a>
        <span class="footer__texto footer__derecha">Calle Palta 123</span>
    </div>
</div>
</footer>
<script> feather.replace() </script>