<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item"><a class="header__link" href="/">Inicio</a></li>
    <li class="header__item"><a class="header__link" href="/home/nosotros">Nosotros</a></li>
    <li class="header__item"><h1 id="header__titulo">MarketNow</h1></li>
    <li class="header__item" Style ="float:right"><a class="header__link" href="/home/registrarse">Registrarse</a></li>
    <li class="header__item" style="float:right"><a class="header__link" href="/home/Iniciar-sesion">Iniciar Sesion</a></li>
</ul>