<ul class="header__lista">
    <li class="header__item" style="width: 15em;">
    	<div class="header__usuario">
    		<i data-feather="user" style="color: #222;" width="35" height="35"></i>
    		<a class="header__dr" style="padding-left: 15px;" href="/"><%= typeof nombre != 'undefined' ? nombre : 'default' %></a>
    	</div>
    </li>
    <li class="header__flex">
    		<span class="header__dr"><%= typeof sitio != 'undefined' ? sitio : 'Usuario' %></span>
    		<div>
    			<a href="/logOut">
    				<i data-feather="log-out" style="" width="35" height="35" class="header__out"></i>
    			</a>
    		</div>
    </li>
</ul>
	<nav class="menu" id="menu">
		<a href="/">
			<div class="menu__opcion border-bottom">
				<i data-feather="home" class="menu__icono"></i>
				<label class="texto menu__link">Inicio</label>
			</div>
		</a>
		<div class="menu__contenido">
			<a href="Inventario">
				<div class="menu__opcion">
					<i data-feather="clipboard" class="menu__icono"></i>
					<label class="texto menu__link">Inventario</label>
				</div>
			</a>
		<div class="menu__pie">
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="user" class="menu__icono"></i>
					<label class="texto menu__link">Perfil</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="help-circle" class="menu__icono"></i>
					<label class="texto menu__link">Ayuda</label>
				</div>
			</a>
			<a href="/logOut">
				<div class="menu__opcion">
					<i data-feather="log-out" class="menu__icono"></i>
					<label class="texto menu__link">Salir</label>
				</div>
			</a>
		</div>
	</nav>
	<script src="/static/js/predefinido.js"></script>