<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/feather-icons"></script>
	<link rel="stylesheet" href="../public/css/predefinido.css">
	<link rel="stylesheet" href="../public/css/cupones.css">
	<meta charset="utf-8">
	<title>Cupones</title>
</head>
<body>
	<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item" style="width: 15em;">
    	<div class="header__usuario">
    		<i data-feather="user" style="color: #222;" width="35" height="35"></i>
    		<a class="header__dr" style="padding-left: 15px;" href="index.html">Usuario</a>
    	</div>
    </li>
    <li class="header__flex">
    		<span class="header__dr">Canjear Cupones</span>
    		<div>
    			<a href="Iniciar-sesion.html">
    				<i data-feather="log-out" style="" width="35" height="35" class="header__out"></i>
    			</a>
    		</div>
    </li>
</ul>
	<nav class="menu" id="menu">
		<a href="index.html">
			<div class="menu__opcion border-bottom">
				<i data-feather="home" class="menu__icono"></i>
				<label class="texto menu__link">Inicio</label>
			</div>
		</a>
		<div class="menu__contenido">
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="shopping-bag" class="menu__icono"></i>
					<label class="texto menu__link">Comercios</label>
				</div>
			</a>
			<!-- <a href="index.html">
				<div class="menu__opcion">
					<i data-feather="trending-up" class="menu__icono"></i>
					<label class="texto menu__link">Socotroco</label>
				</div>
			</a> -->
		</div>
		<div class="menu__pie">
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="user" class="menu__icono"></i>
					<label class="texto menu__link">Perfil</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="help-circle" class="menu__icono"></i>
					<label class="texto menu__link">Ayuda</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="log-out" class="menu__icono"></i>
					<label class="texto menu__link">Salir</label>
				</div>
			</a>
		</div>
	</nav>
	<script src="../public/js/predefinido.js"></script>
<main>
<div class="granContenedor">
	<div class="contenedor__cupones scroll">
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon1</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon2</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon3</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>	
				<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon3</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label class="cupon__desc">25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon2</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon2</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon2</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon2</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>			
	</div>

	<div class="tarjeta admin">
		<div class="tarjeta__header" style="background: var(--green);">
			<label class="tarjeta__titulo">Administrar Cupones</label>
		</div>
		<dir class="tarjeta__contenido admin__contenido" style="margin: 0">
			<form>
				<div style="padding: 10px 0;">
					<label><b>Mis Palta Points</b></label><br>
					<label>4313</label>
				</div>
			<div class="admin__inputs">
				<label class="titulo"><b>Info Cupon</b></label>
				<label><b>Nombre</b></label>
				<label class="output">Cupon2</label>
				<label><b>Descripcion</b></label>
				<label class="output">25% de descuento en paltas albinas</label>
				<label><b>Palta Points</b></label>
				<label class="output">5000</label>
			</div>
			</form>
			<div class="admin__botones">
			<button class="button_verde">Mis Cupones</button>
			<button class="button_verde">Canjear Cupon</button>
			</div>
		</dir>
	</div>
</div>
</main>
<script> feather.replace() </script>
</body>
</html>