<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/feather-icons"></script>
	<link rel="stylesheet" href="../public/css/predefinido.css">
	<link rel="stylesheet" href="../public/css/Cargar-Producto.css">
	<meta charset="utf-8">
	<title>Carga Manual | MarketNow</title>
</head>
<body>
	<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item" style="width: 15em;">
    	<div class="header__usuario">
    		<i data-feather="user" style="color: #222;" width="35" height="35"></i>
    		<a class="header__dr" style="padding-left: 15px;" href="index.html">Usuario</a>
    	</div>
    </li>
    <li class="header__flex">
    		<span class="header__dr">Administrar Cupones</span>
    		<div>
    			<a href="Iniciar-sesion.html">
    				<i data-feather="log-out" style="" width="35" height="35" class="header__out"></i>
    			</a>
    		</div>
    </li>
</ul>
	<nav class="menu" id="menu">
		<a href="index.html">
			<div class="menu__opcion border-bottom">
				<i data-feather="home" class="menu__icono"></i>
				<label class="texto menu__link">Inicio</label>
			</div>
		</a>
		<div class="menu__contenido">
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="pie-chart" class="menu__icono"></i>
					<label class="texto menu__link">Reporte diario</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="trending-up" class="menu__icono"></i>
					<label class="texto menu__link">Balance</label>
				</div>
			</a>
			<a href="Inventario.html">
				<div class="menu__opcion">
					<i data-feather="clipboard" class="menu__icono"></i>
					<label class="texto menu__link">Inventario</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="package" class="menu__icono"></i>
					<label class="texto menu__link">Stock Faltante</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="shopping-bag" class="menu__icono"></i>
					<label class="texto menu__link">Comprar Stock</label>
				</div>
			</a>
			<a href="cupones.html">
				<div class="menu__opcion">
					<i data-feather="gift" class="menu__icono"></i>
					<label class="texto menu__link">Cupones</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="calendar" class="menu__icono"></i>
					<label class="texto menu__link">Entregas</label>
				</div>
			</a>
		</div>
		<div class="menu__pie">
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="user" class="menu__icono"></i>
					<label class="texto menu__link">Perfil</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<i data-feather="help-circle" class="menu__icono"></i>
					<label class="texto menu__link">Ayuda</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="log-out" class="menu__icono"></i>
					<label class="texto menu__link">Salir</label>
				</div>
			</a>
		</div>
	</nav>
	<script src="../public/js/predefinido.js"></script>
<main>

	  <blockquote>
			<div class="tarjeta sombra">
				<div class="tarjeta__header">
					<label class="tarjeta__titulo"><b>Cargar Producto</b></label>
				</div>
				<div class="tarjeta__contenido">
            		
            		<input type="password" class="input" placeholder="Codigo de barras">
					<input type="text" name="Nombre del producto" class="input" placeholder="Nombre del producto">
					<input type="number" name="Cantidad" class="input" placeholder="Cantidad">
					<input type="text" name="Categoria" class="input" placeholder="Categoria">
					<input type="number" name="Precio" class="input" placeholder="Precio">
					<input type="number" name="Stock" class="input" placeholder="Cantidad de stock">
					<button class="button_verde" >Cargar</button>
				
				</div>
			</div>
		</blockquote>
	

			
		
	</div>
	
	</div>
</div>
</main>
<script>
    feather.replace()
</script>
</body>
</html>


