<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/feather-icons"></script>
	<link rel="stylesheet" href="/static/css/predefinido.css">
	<link rel="stylesheet" href="/static/css/cargaManual.css">
	<meta charset="utf-8">
	<title>Carga Manual | MarketNow</title>
</head>
<body>
	<%- include('partials/menuComercio.html', {sitio:'Carga Manual', nombre: nombre}) %>
	<main>
		<blockquote>
			<div class="tarjeta sombra">
				<div class="tarjeta__header">
					<label class="tarjeta__titulo"><b>Cargar Producto</b></label>
				</div>
				<div class="tarjeta__contenido" style="height: 300%;">
					<form method="POST" action="/comercio/nuevoProducto">
					<div class="contenedor__input">
						<label>Codigo de barras</label>
            			<input type="number" name="cdb" class="input">
            		</div>
            		<div class="contenedor__input">
						<label>Nombre del producto</label>
						<input type="text" name="nombre" class="input">
					</div>
					<div class="contenedor__input">
						<label>Categoria</label>
						<input type="text" name="categoria" class="input">
					</div>
					<div class="contenedor__input">
						<label>Iva</label>
						<input type="number" name="iva" id="iva" class="input" value="21">
					</div>
					<div class="contenedor__input">
						<label>Precio Unitario de Compra</label>
						<input type="number" name="precioUnitario" id="precioUnitario" class="input">
					</div>
					<div class="contenedor__input">
						<label>Porcentaje de Ganancia</label>
						<input type="text" name="PdeGanancia" id="PdeGanancia" class="input">
					</div>
					<div class="contenedor__input">
						<label>Precio de Venta</label>
						<input type="text" name="precioVenta" id="precioVenta" class="input">
					</div>
					<div class="contenedor__input">
						<label>Cantidad de Stock</label>
						<input type="number" name="cantidad" class="input">
					</div>
					<div class="contenedor__input">
						<label>Cantidad Minima (opcional)</label>
						<input type="number" name="cantMinima" class="input">
					</div>
					<div class="contenedor__input">
						<label>Cantidad Ideal (opcional)</label>
						<input type="number" name="cantIdeal" class="input">
					</div>
					<br>
					<input type="submit" value="Cargar" class="button_verde">
					</form>
				</div>
			</div>
		</blockquote>
	</main>
	<script type="text/javascript">
		const precioUnitario = document.getElementById('precioUnitario');
		const iva = document.getElementById('iva');
		const precioVenta = document.getElementById('precioVenta');
		const pGanancia = document.getElementById('PdeGanancia');
		let ulti;

		pGanancia.addEventListener('keyup', calcularVenta);
		precioVenta.addEventListener('keyup', calcularPGanancia);
		iva.addEventListener('keyup', actualizarPrecio);
		precioUnitario.addEventListener('keyup', actualizarPrecio);

		const porcentaje = num => (num / 100) + 1

		function actualizarPrecio(){
			if (precioVenta.value == '' || pGanancia.value == '' || ulti == undefined) return 0;
			ulti();
		}

		function calcularVenta() {
			if (precioUnitario.value == '' || iva.value == '' || pGanancia.value == '') return 0;
			const pv = precioUnitario.value * porcentaje(pGanancia.value) * porcentaje(iva.value);
			const nv = precioUnitario.value * porcentaje(pGanancia.value) - precioUnitario.value;
			precioVenta.value = pv.toFixed(2);
			ulti = calcularVenta;
		}

		function calcularPGanancia() {
			if (precioUnitario.value == '' || iva.value == '' || precioUnitario.value == '') return 0;
			const pg = precioVenta.value / porcentaje(iva.value) / precioUnitario.value;
			pGanancia.value = ((pg - 1) * 100).toFixed(2);
			ulti = calcularPGanancia;
		}
	</script>
	<script>feather.replace()</script>
</body>
</html>
