<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../public/css/predefinido.css">
	<link rel="stylesheet" href="../public/css/cupones.css">
	<meta charset="utf-8">
</head>
<body>
		<blockquote>
			<div class="tarjeta sombra">
		
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cargar Producto</b></label>
			</div>
			
			<div class="tarjeta__contenido" style="height: 300%;">
            	<input type="password" class="input" placeholder="Codigo de barras">
				<input type="text" name="Nombre del producto" class="input" placeholder="Nombre del producto">
				<input type="number" name="Cantidad" class="input" placeholder="Cantidad">
				<input type="text" name="Categoria" class="input" placeholder="Categoria">
				<input type="number" name="Precio" class="input" placeholder="Precio">
				<input type="number" name="Stock" class="input" placeholder="Cantidad de stock">
				<br>
				
				<button class="button_verde">Cargar</button>
			</div>
			
		</div>
		</blockquote>
</body>
</html>
