<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/feather-icons"></script>
	<link rel="stylesheet" href="/static/css/predefinido.css">
	<link rel="stylesheet" href="/static/css/cargaProveedor.css">
	<meta charset="utf-8">
	<title>Carga Manual | MarketNow</title>
</head>
<body>
	<%- include('partials/menuProveedor.html', {sitio:'Carga Manual', nombre: nombre}) %>
	<main>
		<blockquote>
			<div class="tarjeta sombra">
				<div class="tarjeta__header">
					<label class="tarjeta__titulo">Cargar Producto</label>
				</div>
				<div class="tarjeta__contenido" style="height: 300%;">
					<form method="POST" action="/proveedor/nuevoProducto" enctype="multipart/form-data">
					<div class="contenedor__nashe">
						<div class="contenedor__imagen">
							<div id="cuadroImagen"></div>
							<label id="contenedor_imagen" class="button_verde">
								<input type="file" name="imagen" id="imagen" onchange="validarImagen(this);" required>
								Elegir Imagen
							</label>
						</div>

						<div class="contenedor__datos">
							<div class="contenedor__input">
								<label>Codigo de barras</label>
	            				<input type="number" name="cdb" class="input">
	            			</div>
	            			<div class="contenedor__input">
								<label>Nombre del producto</label>
								<input type="text" name="nombre" class="input">
							</div>
							<div class="contenedor__input">
								<label>Descripcion</label>
								<textarea type="text" name="descripcion" class="input"></textarea>
							</div>
						</div>
					</div>
					<div class="contenedor__inferior">
						<div class="contenedor__detalles">
							<div class="contenedor__input">
								<label>Precio Unitario</label>
								<input type="number" name="precio" id="precioUnitario" class="input">
							</div>
							<div class="contenedor__input">
								<label>Cantidad de Stock</label>
								<input type="number" name="cantidad" class="input">
							</div>
						</div>
					</div>
					<br>
					<input type="submit" value="Cargar" class="button_verde">
					</form>
				</div>
			</div>
		</blockquote>
	</main>
	<script src="/static/js/cargaProveedor.js"></script>
	<script>feather.replace()</script>
</body>
</html>