<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/feather-icons"></script>
	<link rel="stylesheet" href="predefinido.css">
	<link rel="stylesheet" href="cupones.css">
	<meta charset="utf-8">
	<title>Cupones</title>
</head>
<body>
	<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item" style="width: 15em;">
    	<div class="header__usuario">
    		<i data-feather="user" style="color: #222;" width="35" height="35"></i>
    		<a class="header__dr" style="padding-left: 15px;" href="index.html">Usuario</a>
    	</div>
    </li>
    <li class="header__flex">
    		<span class="header__dr">Administrar Cupones</span>
    		<div>
    			<a href="Iniciar-sesion.html">
    				<i data-feather="log-out" style="" width="35" height="35" class="header__out"></i>
    			</a>
    		</div>
    </li>
</ul>
	<nav class="menu">
		<a href="index.html">
			<div class="menu__opcion border-bottom">
				<i data-feather="home" class="menu__icono"></i>
				<label class="texto menu__link">Inicio</label>
			</div>
		</a>
		<div class="menu__contenido">
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="pie-chart" class="menu__icono"></i>
					<label class="texto menu__link">Reporte diario</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="trending-up" class="menu__icono"></i>
					<label class="texto menu__link">Balance</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="clipboard" class="menu__icono"></i>
					<label class="texto menu__link">Inventario</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="package" class="menu__icono"></i>
					<label class="texto menu__link">Stock Faltante</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="shopping-bag" class="menu__icono"></i>
					<label class="texto menu__link">Comprar Stock</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="gift" class="menu__icono"></i>
					<label class="texto menu__link">Cupones</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="calendar" class="menu__icono"></i>
					<label class="texto menu__link">Entregas</label>
				</div>
			</a>
		</div>
		<div class="menu__pie">
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="user" class="menu__icono"></i>
					<label class="texto menu__link">Perfil</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="help-circle" class="menu__icono"></i>
					<label class="texto menu__link">Ayuda</label>
				</div>
			</a>
			<a href="index.html">
				<div class="menu__opcion">
					<i data-feather="log-out" class="menu__icono"></i>
					<label class="texto menu__link">Salir</label>
				</div>
			</a>
		</div>
	</nav>
<main>
<div class="granContenedor">
	<div class="contenedor__cupones">
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon1</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon2</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>
		<div class="tarjeta sombra">
			<div class="tarjeta__header">
				<label class="tarjeta__titulo"><b>Cupon3</b></label>
			</div>
			<div class="tarjeta__contenido">
				<label>25% de descuento en paltas albinas</label>
				<div class="cupon__info">
					<label>5000</label>
					<label>28/6</label>
				</div>
			</div>
		</div>		
	</div>
	<div class="tarjeta admin">
		<div class="tarjeta__header">
			<label class="tarjeta__titulo">Administrar Cupones</label>
		</div>
		<dir class="tarjeta__contenido admin__contenido" style="margin: 0">
			<form>
			<button class="button_verde">Nuevo cupon</button>
			<div class="admin__botones">
			<input type="text" name="" class="input" placeholder="Nombre">
			<input type="date" name="" class="input" placeholder="fecha">
			<select class="input" style="width: 95%;" name="">
            <option value="0">Tipo de Oferta</option>
            <option value="1">2x1</option>
            <option value="2">3x2</option>
            <option value="3">Descuento</option>
        	<option value="4">Otro</option></select>
			<input type="number" name="" class="input" placeholder="Descuento">
			<input type="text" name="" class="input" placeholder="Categoria">
			<input type="number" name="" class="input" placeholder="Palta Points">
			</div>
			<div class="vacio"></div>
			<button class="button_verde">Modificar</button>
			<button class="button_verde">Eliminar</button>
			</form>
		</dir>
	</div>
</div>
</main>
<script>
    feather.replace()
</script>
</body>
</html>


