<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <meta charset="utf-8">
</head>
<body>

    <div class="fondo_verde maspixeles"></div>
    <%- include('partials/headerHome.html')%>
    <div class="fondo_verde maspixeles"></div>
<div class="fondo_verde"></div>
<div class="fondo__logo">
<img src= "static/img/logotipo.png" class="imagen_Palta" width="100%">
</div>
<script src="https://unpkg.com/feather-icons"></script>
<div class="contenedor_principal">
<div class="fondo_blanco">
    <div class="tresContenedor">
        <div class="contenedor centrarLite">
            <i class="iconos"  data-feather="dollar-sign"></i><br>
            <span class="titulos">Gestioná</span>
            <p class="texto">Medieante este sistema usted prodra, poseer una admisnistracion y gestion correcto de su dinero.</p>
        </div>
        <div class="contenedor centrarLite">
            <i class="iconos" data-feather="settings"></i><br>
            <span class="titulos">Automatiza</span>
            <p class="texto">Medieante este sistema usted prodra, poseer una admisnistracion y gestion correcto de su dinero.</p>
        </div>
        <div class="contenedor centrarLite">
            <i class="iconos" data-feather="trending-up"></i><br>
            <span class="titulos">Eficiencia</span>
            <p class="texto">Mediante este sistema usted podra aumentar considerablemante la eficiencia a su negocio</p>
        </div>
    </div>
</div>

<div class="fondo_gris">
    <h2 class="titulos subtitulo">Descubre sus ventajas</h2>
    <div class="seisContenedores">
        <div class="DosContenedores">
            <div class="contenedor_Ab">
                <i data-feather="trending-up" width="50" class="iconos_Ab" height="50"></i>
                <div>
                    <h2 class="texto texto_Ab" style="text-align: left;">Registros</h2>
                    <p class="texto texto_Ab" style="text-align: left;">Contáctanos a través de la vía correspondiente en caso de tener alguna duda, inconveniente o sugerencia</p>
                </div>
            </div>
            <div class="contenedor_Ab">
                <i data-feather="package" width="50" class="iconos_Ab" height="50"></i>
                <div>
                    <h2 class="texto texto_Ab" style="text-align: left;">Gestor de Stock</h2>
                    <p class="texto texto_Ab" style="text-align: left;">Contáctanos a través de la vía correspondiente en caso de tener alguna duda, inconveniente o sugerencia</p>
                </div>
            </div>
            </div>
        <div class="DosContenedores">
            <div class="contenedor_Ab">
                <i data-feather="calendar" width="50" class="iconos_Ab"height="50"></i>
                <div>
                    <h2 class="texto texto_Ab" style="text-align: left;">Reporte diario</h2>
                    <p class="texto texto_Ab" style="text-align: left">Contáctanos a través de la vía correspondiente en caso de tener alguna duda, inconveniente o sugerencia</p>
                </div>
            </div>
            <div class="contenedor_Ab">
                <i data-feather="clipboard" width="50" class="iconos_Ab"height="50"></i>
                <div>
                    <h2 class="texto texto_Ab" style="text-align: left;">Administracion de Puntos</h2>
                    <p class="texto texto_Ab" style="text-align: left"style="transform: translate(0px, 200px)">Contáctanos a través de la vía correspondiente en caso de tener alguna duda, inconveniente o sugerencia</p>
                </div>
            </div>
        </div>
        <div class="DosContenedores">
            <div class="contenedor_Ab">
                <i data-feather="percent" width="50" class="iconos_Ab"height="50"></i>
                <div>
                    <h2 class="texto texto_Ab" style="text-align: left;">Evolucion del Mercado</h2>
                    <p class="texto texto_Ab" style="text-align: left"style="transform: translate(0px, 200px)">Contáctanos a través de la vía correspondiente en caso de tener alguna duda, inconveniente o sugerencia</p>
                </div>
            </div>
            <div class="contenedor_Ab">
                <i data-feather="lock" width="50" class="iconos_Ab"height="50"></i>
                <div>
                    <h2 class="texto texto_Ab" style="text-align: left;">Seguridad</h2>
                    <p class="texto texto_Ab" style="text-align: left"style="transform: translate(0px, 200px)">Contáctanos a través de la vía correspondiente en caso de tener alguna duda, inconveniente o sugerencia</p>
            </div>
        </div>
    </div>
</div>

<div class="fondo_verde medio">
    <div class="medio__div">
        <spans class="medio__texto">Miles de paltas ya lo usan</span>
        <a href="registrarse.html" class="boton medio__boton">Empezar</a>
    </div>
</div>

<div class="fondo_blanco" style="margin-bottom: 32px;">
    <h2 class="titulos subtitulo">Opiniones</h2>
    <div class="tresContenedor">
        <div class="contenedor opinador__div">
            <i class="iconos" style="font-size: 50px;">"</i><br>
            <p class="texto" style="margin-top: 0;">"Muy buena pagina la verdad, yo le debia dinero a la mafia de las paltas pero desde que conoci MarketNow mi vida se ha llenado de dinero, el cual voy a usar para comprarme una 5mm y pegarme un tiro."</p>
            <div class="opinador__contenedor"><span class="opinador">Jhon Jerick</span></div>
        </div>
        <div class="contenedor opinador__div">
            <i class="iconos" style="font-size: 50px;">"</i><br>
            <p class="texto" style="margin-top: 0;">"Buena"</p>
            <div class="opinador__contenedor"><span class="opinador">Jerick No Jhon</span></div>
        </div>
    </div>
</div>

<%- include('./partials/footer.html'); %>

<script>feather.replace()</script>
</symbol>
<div class="social-bar">
    <a href="https://www.instragram.com" class="icon icon-instagram" target="_blank" >@MarketNow</a><!--Acá iria el Intagram de la MarketNow-->
    <a href="https://www.gmail.com" class="icon icon-mail4" target="_blank">@MarketNow</a><!--Acá iria el mail de la MarketNow-->
    <a class="icon icon-whatsapp" target="_blank">-0000000000</a><!--Acá iria el telefono de la MarketNow-->
</div>
</body>
</html>
