<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/predefinido.css">
    <link rel="stylesheet" href="../css/login.css">
    <meta charset="utf-8">
</head>
<body>
<header>
<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item"><a class="header__link" href="/">Inicio</a></li>
    <li class="header__item"><a class="header__link" href="home/nosotros">Nosotros</a></li>
    <li class="header__item"><h1 id="header__titulo">MarketNow</h1></li>
    <li class="header__item" Style ="float:right"><a class="header__link" href="home/registrarse">Registrarse</a></li>
    <li class="header__item" style="float:right"><a class="header__link" href="home/Iniciar-sesion">Iniciar Sesion</a></li>
</ul>
</header>

<form class="formulario">
    <h1 class="registrate">Iniciar Sesion</h1>
    <div clas="contenedor-registro">
        <div class="input-contenedor-registro">
            <i class="far fa-envelope icono"></i>
            <input type="text" class="input" placeholder="Correo Electronico">
        </div>

         <div class="input-contenedor-registro sinMargin">
            <i class="fas fa-key icono"></i>
            <input type="password" class="input" placeholder="Contraseña">
        </div>
        <div class="derecha">
            <a href="Restablecer-Contraseña.html" class="link">¿Has olvidado tu contraseña?</a>
        </div>
        <input type="submit" value="Login" class="button">
        <div class="texto-p">
            <p></p>
            <p>¿No tienes cuenta? <a class="link" href="registrarse.html">Registrate</a></p>
        </div>
    </div>
</form>


