<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <meta charset="utf-8">
</head>
<body>
<header>
    <%- include('partials/headerHome.html')%>
</header>

<form class="formulario" method="POST" action="/singIn">
    <h1 class="registrate">Iniciar Sesion</h1>
    <div clas="contenedor-registro">
        <div class="input-contenedor-registro">
            <i class="far fa-envelope icono"></i>
            <input type="email" class="input" name="email" placeholder="Correo Electronico">
        </div>

         <div class="input-contenedor-registro sinMargin">
            <i class="fas fa-key icono"></i>
            <input type="password" class="input" name="contra" placeholder="Contraseña">
        </div>
        <div class="derecha">
            <a href="Restablecer-Contraseña" class="link">¿Has olvidado tu contraseña?</a>
        </div>
        <input type="submit" value="Login" class="button">
        <div class="texto-p">
            <p></p>
            <p>¿No tienes cuenta? <a class="link" href="registrarse">Registrate</a></p>
        </div>
    </div>
</form>


