<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <link rel="stylesheet" href="/static/css/inventario.css">
    <title>Inventario</title>
</head>
<body>
    <%- include('partials/menuComercio.html', {sitio:'Inventario', nombre: nombre}) %>
<main>
<div class="granContenedor">
    <div class="contenedor__tabla scroll">
    <div id = "main-conteiner">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Articulo</th><th>Precio Venta</th><th>Precio Unitario </th><th>Cantidad </th><th>Cantidad Ideal </th>
            </tr>
        </thead>

        <tr>
            <td>agua</td><td>$ 30</td><td>$ 5</td><td>8</td><td>60</td>
        </tr>
        <tr>
            <td>palta</td><td>$ 30</td><td>$ 5</td><td>8</td><td>60</td>
        </tr>
        <tr>
            <td>Palta Acuatica</td><td>$ 60</td><td>$ 8</td><td>90</td><td>120</td>
        </tr>
        <tr>
            <td>agua</td><td>$ 30</td><td>$ 5</td><td>8</td><td>60</td>
        </tr>
         <tr>
            <td>Pelotas</td><td>$ 120</td><td>$ 900</td><td>5</td><td>12</td>
        </tr>
         <tr>
            <td>Zapatillas</td><td>$ 1000</td><td>$ 500</td><td>3</td><td>30</td>
        </tr>
         <tr>
            <td>agua</td><td>$ 30</td><td>$ 5</td><td>8</td><td>60</td>
        </tr>
         <tr>
            <td>agua</td><td>$ 30</td><td>$ 5</td><td>8</td><td>60</td>
        </tr>
         <tr>
            <td>agua</td><td>$ 30</td><td>$ 5</td><td>8</td><td>60</td>
        </tr>
        <tr>
            <td>Zapatillas</td><td>$ 1000</td><td>$ 500</td><td>3</td><td>30</td>
        </tr>
        <tr>
            <td>Zapatillas</td><td>$ 1000</td><td>$ 500</td><td>3</td><td>30</td>
        </tr>
        <tr>
            <td>Zapatillas</td><td>$ 1000</td><td>$ 500</td><td>3</td><td>30</td>
        </tr>
        <tr>
            <td>Zapatillas</td><td>$ 1000</td><td>$ 500</td><td>3</td><td>30</td>
        </tr>
    </table>    
    </div>      
    </div>
    <div class="tarjeta_derecha admin">
        <div class="tarjeta__header">
            <label class="tarjeta__titulo">Buscador</label>
        </div>
        <dir class="tarjeta__contenido admin__contenido" style="margin: 0">
            <form>
            <div class="admin__botones">
                <div class="input-contenedor">
                    <!-- <i  data-feather="log-out" class="fas fa-shopping-cart derecho__icono"></i> -->
                    <input type="text" data-feather="search derecho__icono" class="input "placeholder="Nombre">  
                </div>

            <select class="input" onchange="Barra_accion()" name="rol" id="tipo">
            <option value="1"id="ord_z-a_mayor_precio">Ordenar nombre de la A-Z</option>
            <option value="2"id="ord_z-a_mayor_precio">Ordenar nombre de la Z-A</option>
            <option value="3"id="ord_menor_mayor_precio" >Ordenar por precio ascendente</option>
            <option value="4"id="ord_mayor_menor_precio">Ordenar por precio desendente</option>
            </select>
            </div>
            <div class="vacio"></div>
            <button class="button_verde">Buscar</button>
            </form>
        </dir>
    </div>
</div>
</main>
<script>feather.replace()</script>
</body>
</html>

