<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <link rel="stylesheet" href="/static/css/inventario.css">
    <title>Inventario | MarketNow</title>
</head>
<body>
    <% if(rol == 2) { %>
        <%- include('partials/menuProveedor.html', {sitio:'Inventario', nombre: nombre}) %>
    <% } else { %>
        <%- include('partials/menuComercio.html', {sitio:'Inventario', nombre: nombre}) %>
    <% } %>
<main>
<div class="wrapper">
    <div class="wrapper__busqueda">
        <input type="text" class="wrapper__input" id="buscador" placeholder="Buscar Productos">
        <i class="fas fa-search wrapper__icono"></i>
    </div>
    <div class="wrapper__filtros">
        <p class="wrapper__ordenar"><b>Ordenar por:</b></p>
        <div class="opciones">
            <select class="wrapper__select" onchange="Barra_accion()" name="rol" id="tipo">
            <option value="ordenar" selected="select"value="1"id="ord_a-z">Nombre de la A-Z</option>
            <option value="2"id="ord_z-a">Nombre de la Z-A</option>
            <option value="3"id="ord_pre_as" >Precio Ascendente</option>
            <option value="4"id="ord_pre_des">Precio Descendente</option>
            </select>
        </div>
    </div>
    <% if(rol == 2){ %>
            <a href="/proveedor/cargaProveedor" class="button_verde">Nuevo Producto</a>
        <% } else { %>
             <a href="/comercio/cargaManual" class="button_verde">Nuevo Producto</a>
        <% } %>
</div>
    <div class="contenedor__tabla scroll">
        <div id = "main-conteiner">
            <% if(rol == 2){ %>
                <table class="table proveedor"id="tabla">
            <% } else { %>
                <table class="table comercio"id="tabla">
            <% } %>
                <thead>
                    <tr>
                <% if(rol == 2){ %>
                    <th>Imagen</th><th>Nombre </th><th>Descripcion </th><th>Precio </th><th>Cantidad </th>
                <% } else { %>
                    <th>Nombre del Articulo</th><th>Categoria </th><th>Precio Venta</th><th>Precio Unitario </th><th>Cantidad </th><th>Cantidad Ideal </th>
                <% } %>
                    </tr>
                </thead>
                <tbody id="tabla_tbody">
                </tbody>
            </table>    
        </div>      
    </div>
</main>
<script src="/static/js/inventario.js"></script>
<script>feather.replace()</script>
</body>
</html>

