<!DOCTYPE html>
<html lang="es">
<head>
  <script src="https://unpkg.com/feather-icons"></script>
  <link rel="stylesheet" href="/static/css/predefinido.css">
  <link rel="stylesheet" href="/static/css/nosotros.css">
  <meta charset="utf-8">
  <title>Nosotros | MarketNow</title>
</head>
<body>
<%- include('partials/headerHome.html', {loged: loged, rol: (rol)? rol: null})%>

<div class="contenedor">
  <div class="contenedor__primero">
    <img src="../static/img/logotipo.png" class="imagen">
    <div class="cotenedor__texto separacion">
      <h2 class="texto titulo">¿Quienes somos?</h2>
      <p class="texto separacion">Somos estudiantes de informática del juan XXIII, nuestro proyecto
        MarketNow existe para facilitar la gestión de un almacén, el dueño del
        local podrá visualizar el reporte de balance, reporte diario de ventas,
        gestionar el stock, administrar cupones y cargar los productos todo desde
        nuestro sistema.</p>
    </div>
  </div>
  <div class="contendor__segundo">
    <h2 class="texto titulo">Nuestra vision</h2>
    <p class="texto separacion">Vemos el vaso medio lleno, nuestras posibilidades de crecimiento
      son amplias ya que nuestro mercado está en constante crecimiento.
      Nuestros potenciales clientes son todos aquellos comercios pequeños y
      medianos que requieran ser más eficientes. Nos podrían afectar
      situaciones como las políticas de estado, especialmente si las mismas
      afectan a nuestros potenciales clientes. Nos embarcamos en un proyecto
      basado en las tecnologías web, mediante las cuales pretendemos mejorar
      la eficiencia de los minoristas</p>
  </div>
  <h2 class="texto titulo">Nuestros valores</h2>
  <ul class="texto">
    <li>Honestidad: El medio utilizado para poder manifestar este valor, es la
    honestidad que existe entre los líderes y los empleados.</li>
    <li>Puntualidad: La puntualidad se transmite mediante el ejemplo de los
    lideres hacia los empleados.</li>
    <li>Trabajo en Equipo: El trabajo en equipo se motiva mediante
    recompensas mediante la realización optima de actividades.</li>
    <li>Responsabilidad Social: La responsabilidad social se manifiesta mediante
    cursos de capacitación.</li>
  </ul>
</div>
<%- include('./partials/footer.html'); %>
</body>
</html>
