<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="predefinido.css">
<link rel="stylesheet" href="registro.css">
</head>
<body>
<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item"><a class="header__link" href="index.html">Inicio</a></li>
    <li class="header__item"><a class="header__link" href="nosotros.html">Nosotros</a></li>
    <li class="header__item"><h1 id="header__titulo">MarketNow</h1></li>
    <li class="header__item" Style ="float:right"><a class="header__link" href="registrarse.html">Registrarse</a></li>
    <li class="header__item" style="float:right"><a class="header__link" href="Iniciar-sesion.html">Iniciar Sesion</a></li>
</ul>

<form class="formulario">
        <h1 class="registrate">Registrate</h1>
        <div clas="contenedor-registro">

        <div class="input-contenedor-registro">
            <i class="fas fa-user icono"></i>
            <input type="text" placeholder="Nombre">
            
        </div>

         <div class="input-contenedor-registro">
            <i class="far fa-envelope icono"></i>
            <input type="text" placeholder="Correo Electronico">
            
        </div>

         <div class="input-contenedor-registro">
            <i class="fas fa-key icono"></i>
            <input type="password" placeholder="Contraseña">
            
        </div>

        <div class="input-contenedor-registro">
            <i class="fas fa-key icono"></i>
            <input type="text" placeholder="Repetir contraseña">
            
        </div>

        <div class="input-contenedor-registro">
            <i class="fas fa-user-tag icono"></i>
            <select class="input" name="tipo">
            <option value="0">Rol</option>
            <option value="1">Usuario</option>
            <option value="2">Comerciante</option>
            <option value="3">Proveedor</option></select>
        </div>
            <!-- <input type="text" placeholder="Usuario, Cliente o Proveedor">   -->
        </div>

        <div class="input-contenedor-registro">
            <i class="fas fa-phone-alt icono"></i>
            <input type="text" placeholder="Telefono">
            
        </div>

        <div class="input-contenedor-registro">
            <i class="fas fa-address-book icono"></i>
            <input type="text" placeholder="DNI">
            
        </div>

         <div class="input-contenedor-registro">
            <i class="fas fa-map-marker-alt icono"></i>
            <input type="text" placeholder="Dirección">
            
        </div>

        <div class="input-contenedor-registro">
            <i class="fas fa-shopping-cart icono"></i>
            <input type="text" placeholder="Nombre del local">
            
        </div>

         <div class="input-contenedor-registro logo__contenedor">
            <i class="fas fa-apple-alt icono" style="margin-top:17px;"></i>
            <label>Subir logo</label>
                <div id="contenedor_imagen">
                    <input type="file" name="imagen" class="imagen" onchange="validarImagen(this);" required multiple>
                    <a id="texto_imagen">Elegir Imagen </a>
                </div>
                <div id="cuadroImagen"></div>
        </div>

        <input type="submit" value="Registrarse" class="button">
        <div class="texto-p">
        <p style="color:#666;">Al registrarte, aceptas nuestras condiciones de uso y politica de privacidad</p>
        <p>¿Ya tienes una cuenta? <a class="link" href="Iniciar-sesion.html">Iniciar sesión</a></p>
    </div>
</div>
    </div>
    </form>
