<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <link rel="stylesheet" href="/static/css/inventario.css">
    <title>Registro de Ventas | MarketNow</title>
</head>
<body>
    <% if(rol == 1) { %>
        <%- include('partials/menuComercio.html', {sitio:'Registro de Ventas', nombre: nombre}) %>
    <% } else { %>
        <%- include('partials/menuCajero.html', {sitio:'Registro de Ventas', nombre: nombre}) %>
    <% } %>
<main>
<div class="granContenedor">
    <div class="contenedor__tabla scroll">
    <div id="main-conteiner">
            <table class="table comercio"id="tabla">
        <thead>
            <tr>
                <th>N° Venta</th><th>Monto </th><th>Fecha </th><th>Hora </th><th>PIN Cliente </th>
            </tr>
        </thead>
    <tbody id="cuerpo">
    </tbody>
    </table>    
    </div>      
    </div>
    <div class="tarjeta_derecha admin">
        <div class="tarjeta__header">
            <label class="tarjeta__titulo">Buscador</label>
        </div>
        <dir class="tarjeta__contenido admin__contenido" style="margin: 0">
            <form>
            <div class="admin__botones">
                <div class="input-contenedor input">
                    <i  data-feather="search" class="fas fa-shopping-cart derecho__icono"></i>
                    <input type="text" placeholder="Nombre" class="input input_none" id="text_busacador">  
                </div>
            <select class="input select" onchange="Barra_accion()" name="rol" id="tipo">
            <option value="0"id="nada">Seleccione una Accion</option>
            <option value="1"id="ord_a-z">Ordenar nombre de la A-Z</option>
            <option value="2"id="ord_z-a">Ordenar nombre de la Z-A</option>
            <option value="3"id="ord_pre_as" >Ordenar por precio ascendente</option>
            <option value="4"id="ord_pre_des">Ordenar por precio desendente</option>
            </select>
            </div>
            <div class="vacio"></div>
            <div class="ulti">
            </div>
            </form>
        </dir>
    </div>
</div>
</main>
<script src="/static/js/regVentas.js"></script>
<script>feather.replace()</script>
</body>
</html>