<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <meta charset="utf-8">
    <title>Restablecer Contraseña | MarketNow</title>
</head>
<body>
<header>
    <%- include('partials/headerHome.html', {loged: loged})%>
</header>


<form class="formulario" method="POST" action="/enviarEmail">
    <h1 class="registrate">Restablecer Contraseña</h1>
    <div clas="contenedor-registro">
        <div class="input-contenedor-registro">
            <i class="far fa-envelope icono"></i>
            <input type="text" name="email" class="input" placeholder="Correo Electronico">
        </div>

         <div class="Button-Restablecer sinMargin">
            <input type="submit" value="Recuperar por Mail" class="button">
        </div>
    
        <div class="texto-p">
            <p></p>
            <p>Volver a inicio de sesion <a class="link" href="iniciar-sesion">Iniciar Sesion</a></p>
        </div>
    </div>
</form>
