<!doctype html>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/predefinido.css">
<link rel="stylesheet" href="/static/css/stock-faltante.css">
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>

<meta charset="utf-8">
</head>
<body>
<%- include('partials/menuComercio.html', {sitio:'nombre del sitio', nombre: nombre}) %>
<main>
<div class="contenedor-cuadrado">
	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1">54</label>
				

				<label class="label-2">Pedidos</label>
			</div>
			<i class="fas fa-parachute-box icono"></i>
			
		</div>
	</div>
	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1">$10.000</label>
				

				<label class="label-2">Monto</label>
			</div>
			<i class="fas fa-wallet icono"></i>
			
		</div>
	</div>		

	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1">8</label>
				

				<label class="label-2">Llegan hoy</label>
			</div>
			<i class="fas fa-calendar-check icono"></i>
			
		</div>
	</div>

	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1">10</label>
				

				<label class="label-2">Proveedores</label>
			</div>
			<i class="fas fa-truck icono"></i>
			
		</div>
	</div>
</div>

<div class="contenedor-padre">

	<div class="contenedor-tabla">

		<div class="tabla-title">
			<label class="label-3"><b>Pedidos Pendientes</b></label>
		</div>

		<div class="tabla-rol">
			<label class="label-4">Numero de pedido</label>
			<label class="label-proveedor">Proveedor</label>
			<label class="label-estado">Estado</label>

		</div>


		<div class="tabla-descripcion">
			<div class="contenedor-tabla-descripcion">
				<label class="label-descripcion">16741</label>
				<label class="label-raul">Raul Paltero</label>
				<div class="contenedor-status">
					<i class="fas fa-circle icon-status"></i><label class="label-status">Llegó</label>
				</div>

				<label class="label-descripcion">16741</label>
				<label class="label-raul">Raul Paltero</label>
				<div class="contenedor-status">
					<i class="fas fa-circle icon-status"></i><label class="label-status">Llegó</label>
				</div>

				<label class="label-descripcion">16741</label>
				<label class="label-raul">Raul Paltero</label>
				<div class="contenedor-status">
					<i class="fas fa-circle icon-status"></i><label class="label-status">Llegó</label>
				</div>

				<label class="label-descripcion">16741</label>
				<label class="label-raul">Raul Paltero</label>
				<div class="contenedor-status">
					<i class="fas fa-circle icon-status"></i><label class="label-status">Llegó</label>
				</div>

				

			</div>
		</div>
</div>
	<div class="contenedor-tabla-proveedores">
		<div class="tabla-proveedores">
			<label class="label-3"><b>Proveedores</b></label>
		</div>

		<div class="tabla-descripcion-proveedores">
			<div class="contenedor-tabla-descripcion-proveedores">
				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Raul Paltero</label>
					<label class="label-rol">Paltas al por mayor</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div>

			</div>

			<div class="contenedor-tabla-descripcion-proveedores-1">
				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Pedro Naranja</label>
					<label class="label-rol">Naranja rica</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div>

			</div>

			<div class="contenedor-tabla-descripcion-proveedores-1">
				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Joaco Salchicha</label>
					<label class="label-rol">Salchichero CEO</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div>

			</div>

			<div class="contenedor-tabla-descripcion-proveedores-1">
				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Mandarina Lopez</label>
					<label class="label-rol">Media mandarina</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div>

			</div>

			<div class="contenedor-tabla-descripcion-proveedores-1">
				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Tomas Tomatero</label>
					<label class="label-rol">Tomatero CEO</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div>

			</div>

			<div class="contenedor-tabla-descripcion-proveedores-1">
				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Limón Cludia</label>
					<label class="label-rol">Limones agrios</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div>

			</div>

			<div class="contenedor-tabla-descripcion-proveedores-1">
				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Lechuga Ramón</label>
					<label class="label-rol">Lechuguero de profesión</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div>

			</div>


		</div>


	</div>
</div>

<script>feather.replace()</script>
</main>
</body>
</html>
