<!DOCTYPE html>
<html lang="es">
<head>
<link rel="stylesheet" href="../public/css/predefinido.css">
<link rel="stylesheet" href="../public/css/vender-producto.css">
<meta charset="utf-8">
</head>
<body>
    <ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item"><a class="header__link" href="index.html">Inicio</a></li>
    <li class="header__item"><a class="header__link" href="nosotros.html">Nosotros</a></li>
    <li class="header__item"><h1 id="header__titulo">MarketNow</h1></li>
    <li class="header__item" Style ="float:right"><a class="header__link" href="registrarse.html">Registrarse</a></li>
    <li class="header__item" style="float:right"><a class="header__link" href="Iniciar-sesion.html">Iniciar Sesion</a></li>
</ul>

<p>Codigo de barras</p>

<form class= "barra">
<input type="text" class="input" placeholder="Codigo de barras">    

<input type="text" class="input" placeholder="Codigo de cliente">
</form>

<div id = "main-conteiner">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo de barra</th><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Quitar</th>
            </tr>
        </thead>

        <tr>
            <td>agua</td><td>Palta</td><td>$ 300</td><td>200</td><td>$ 3000</td>
        </tr>
        <tr>
            <td>luz</td><td>Papa</td><td>$695</td><td>100</td><td>$ 3000</td>
        </tr>
        <tr>
            <td>luz</td><td>Lechuga</td><td>$500</td><td>80</td><td>$ 3000</td>
        </tr>
        <tr>
            <td>luz</td><td>Fapa</td><td>$356</td><td>40</td><td>$ 3000</td>
        </tr>
    </table>
</div>
</body>
</html>
