<!DOCTYPE html>
<html lang="es">
<head>
<link rel="stylesheet" href="../public/css/predefinido.css">
<link rel="stylesheet" href="../public/css/vender-producto.css">
<meta charset="utf-8">
</head>
<body>
    <ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item"><a class="header__link" href="index.html">Inicio</a></li>
    <li class="header__item"><a class="header__link" href="nosotros.html">Nosotros</a></li>
    <li class="header__item"><h1 id="header__titulo">MarketNow</h1></li>
    <li class="header__item" Style ="float:right"><a class="header__link" href="registrarse.html">Registrarse</a></li>
    <li class="header__item" style="float:right"><a class="header__link" href="Iniciar-sesion.html">Iniciar Sesion</a></li>
</ul>
<!------------------------------------menu----------------------------------------------------------------->
    <nav class="menu">
        <a href="index.html">
            <div class="menu__opcion border-bottom">
                <i data-feather="home" class="menu__icono"></i>
                <label class="texto menu__link">Inicio</label>
            </div>
        </a>
        <div class="menu__contenido">
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="pie-chart" class="menu__icono"></i>
                    <label class="texto menu__link">Reporte diario</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="trending-up" class="menu__icono"></i>
                    <label class="texto menu__link">Balance</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="clipboard" class="menu__icono"></i>
                    <label class="texto menu__link">Inventario</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="package" class="menu__icono"></i>
                    <label class="texto menu__link">Stock Faltante</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="shopping-bag" class="menu__icono"></i>
                    <label class="texto menu__link">Comprar Stock</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="gift" class="menu__icono"></i>
                    <label class="texto menu__link">Cupones</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="calendar" class="menu__icono"></i>
                    <label class="texto menu__link">Entregas</label>
                </div>
            </a>
        </div>
        <div class="menu__pie">
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="user" class="menu__icono"></i>
                    <label class="texto menu__link">Perfil</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="help-circle" class="menu__icono"></i>
                    <label class="texto menu__link">Ayuda</label>
                </div>
            </a>
            <a href="index.html">
                <div class="menu__opcion">
                    <i data-feather="log-out" class="menu__icono"></i>
                    <label class="texto menu__link">Salir</label>
                </div>
            </a>
        </div>
    </nav>
<!-------------------------------texto----------------------------------------------------------------->
<main>
    <div class="contenedor-titulos">
    <p class="codigo-barra">Codigo de barras</p>
  

    <p class="codigo-cliente">Codigo de cliente</p>

</div>

<!-------------------------------input codigo de barra y cliente---------------------------------------->    

<div class= "">
<input type="text" class="input-codigo" placeholder="Codigo de barras">    

<input type="text" class="input-codigo" placeholder="Codigo de cliente">
</div>
<!--------------------------------botones------------------------------------------------------------->
<div class="barra">
<button class="terminar">Terminar venta</button>
<button class="cancelar">Cancelar venta</button>
</div>

<!--------------------------------inputs de la calculadora--------------------------------------------->
<div class="flex-container-padre">
<div class="flex-container">
    <input class="hijos" type="text" placeholder="Nombre del producto">
    <input class="hijos" type="text" placeholder="Cantidad">
    <label class="total-derecha">Total: $230</label>
</div>

<!---------------------------------calculadora----------------------------------------------------------->
<div class="calculator">
<div class="result-bar">
    <span id="Result"></span>  
</div> 

<div class="controlls">
  <input type="button" class="number" value="7" id="siete">
  <input type="button" class="number" value="8" id="ocho">   
  <input type="button" class="number" value="9" id="nueve">
  <input type="button" class="operator" value="/" id="divide">
  <input type="button" class="number" value="4" id="cuatro"> 
  <input type="button" class="number" value="5" id="cinco"> 
  <input type="button" class="number" value="6" id="seis">
  <input type="button" class="operator" value="*" id="multiply">
  <input type="button" class="number" value="1" id="uno"> 
  <input type="button" class="number" value="2" id="dos"> 
  <input type="button" class="number" value="3" id="tres">
  <input type="button" class="operator" value="-" id="minus">
  <input type="button" class="operator" value="=" id="equal">
  <input type="button" class="number" value="0" id="cero">
  <input type="button" class="number" value="." id="coma">  
  <input type="button" class="operator" value="+" id="plus">        
</div>
</div>
</div>
<!---------------------------------------------------------------------------------------------------------------->
<p class="total">Total: $2,000.000</p>
<!-----------------------------------------------Tabla------------------------------------------------------------>
<div id = "main-conteiner">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo de barra</th><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Quitar</th>
            </tr>
        </thead>

        <tr>
            <td>agua</td><td>Palta</td><td>$ 300</td><td>200</td><td>$ 3000</td>
        </tr>
        <tr>
            <td>luz</td><td>Papa</td><td>$695</td><td>100</td><td>$ 3000</td>
        </tr>
        <tr>
            <td>luz</td><td>Lechuga</td><td>$500</td><td>80</td><td>$ 3000</td>
        </tr>
        <tr>
            <td>luz</td><td>Fapa</td><td>$356</td><td>40</td><td>$ 3000</td>
        </tr>
    </table>
    </main>
</div>
</body>
</html>
