<!DOCTYPE html>
<html lang="es">
<head>
<link rel="stylesheet" href="/static/css/predefinido.css">
<link rel="stylesheet" href="/static/css/vender-producto.css">
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
<title>Vender Producto | MarketNow</title>
<meta charset="utf-8">
</head>
<body>
    <ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item" style="width: 15em;">
        <div class="header__usuario">
            <i data-feather="user" style="color: #222;" width="35" height="35"></i>
            <a class="header__dr" style="padding-left: 15px;" href="/">Cajero</a>
        </div>
    </li>
    <li class="header__flex">
        <span class="header__dr">Vender Productos</span>
        <div>
            <a href="/logOut">
                <i data-feather="log-out" style="" width="35" height="35" class="header__out"></i>
            </a>
        </div>
    </li>
    </ul>
    <nav class="menu" id="menu">
        <a href="/">
            <div class="menu__opcion border-bottom">
                <i data-feather="home" class="menu__icono"></i>
                <label class="texto menu__link">Inicio</label>
            </div>
        </a>
        </div>
        <div class="menu__pie">
            <a href="#">
                <div class="menu__opcion">
                    <i data-feather="user" class="menu__icono"></i>
                    <label class="texto menu__link">Perfil</label>
                </div>
            </a>
            <a href="#">
                <div class="menu__opcion">
                    <i data-feather="help-circle" class="menu__icono"></i>
                    <label class="texto menu__link">Ayuda</label>
                </div>
            </a>
            <a href="/logOut">
                <div class="menu__opcion">
                    <i data-feather="log-out" class="menu__icono"></i>
                    <label class="texto menu__link">Salir</label>
                </div>
            </a>
        </div>
    </nav>
    <script src="/static/js/predefinido.js"></script>

<main>
<div class="contenedor__cosas">
    <div class="codigos">
        <label class="input-codigo" >Codigo de barras</label><br>
        <input type="text" class="input-codigo"id="cdb">
    </div>    

    <div class= "codigos">
        <label class="input-codigo" >Codigo de cliente</label><br>
        <input type="text" class="input-codigo"id="cdc">
    </div>

<!--------------------------------botones------------------------------------------------------------->
<div>
    <div class="barra">
        <button id="terminarVenta" class="button_verde">Terminar venta</button>
        <button id="cancelarVenta" class="button_verde">Cancelar venta</button>
    </div>
    <p class="total" id="total">Total: $</p>
</div>
<!--------------------------------inputs del buscador--------------------------------------------->
    <div class="flex-container-padre">
        <div class="flex-container">
            <input class="hijos" type="text" placeholder="Buscar Producto" id="Nombre_producto">
            <input class="hijos" type="text" placeholder="Cantidad" id="cant">
            <label class="total-derecha">Total: $230</label>
        </div>
        
        <div class="container-tabla-buscador scroll">
            <ul class="buscador__lista" id="filtrado">
                <table class="table"id="tabla">
                    <tbody id="cuerpo">
                    </tbody>
                </table>
            </ul>
        </div>
        </div>
    </div>


<!-----------------------------------------------Tabla------------------------------------------------------------>
<div id = "main-conteiner">
    <table class="table" id="cuerpo2">
        <thead >
            <tr>
                <th>Codigo de barra</th><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Quitar</th>
            </tr>
        </thead>
        
    </table>
    </main>
</div>
<script src="/static/js/venta_producto.js"></script>
<script> feather.replace() </script>
</body>
</html>

