body { background: #f7f7f7; }

label {
	color: #444;
	font-size: 20px;
	font-family: sans-serif;
}

.granContenedor {
	display: grid;
	grid-template-columns: 1fr 20em;
	height: 91vh;
}

.input { margin: 5px auto; }

.contenedor__cupones {
	padding: 10px;
	overflow-y: scroll;
	display: grid;
	grid-gap: 1em;
	grid-auto-rows: 8rem;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.admin { margin: 10px 5px 0 5px; }

.admin__contenido { 
	padding: 20px; 
	height: 80vh;	
	display: flex;
	flex-direction: column;
}

.titulo {
	padding: 5px;
	margin: auto;
	color: var(--doradoDr);
}

.admin__inputs {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.output { padding: 10px 0 10px 15px; }

.cupon__desc {
	padding: 3%;
}

.admin__botones {
	flex-grow: 1;
	display: flex;
	flex-direction: column-reverse;
}

.tarjeta__contenido{
	height: 100%;
	text-align: center;
}

.cupon__info {
	padding-top: 4%;
	display: flex;
	justify-content: space-between;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor__cupones::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor__cupones::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedor__cupones::-webkit-scrollbar-button:increment,.contenedor__cupones::-webkit-scrollbar-button {
    display: none;
} 

.contenedor__cupones::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor__cupones::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor__cupones::-webkit-scrollbar-track {
    border-radius: 10px;  
}
