body { background: #f7f7f7;
	font-family: sans-serif;
 }

.granContenedor {
	display: grid;
	grid-template-columns: 1fr 20em;
	height: 91vh;
}

.wrapper {
    margin: 15px auto 0;
}

.input { margin: 5px auto; }

.input-contenedor-registro{
    margin-bottom: 15px;
    border: 1px solid var(--color-icono-lg);
}

.contenedor__tabla {
	width: 80%;
	margin:  30px auto 0;
}

.input_none{
	border: none;
	width: 50%;
	padding: 0 10px; 
	margin: 0;
}

.select { width: 100%; }

.ulti {
	width: 100%;
	text-align: center;
}

.input-contenedor{
	display: flex;
	align-items: center;
}

.icono{
	min-width: 50px;
    text-align: left;
    color: var(--color-icono-lg);
}

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.derecho__icono{
    width: 30px;
    height: 30px;
    color: #555;
    padding: 2.5px;
    display: inline-block;
}
/*.contenedor__cupones {
	padding: 10px;
	overflow: scroll;
	display: grid;
	grid-gap: 1em;
	grid-auto-rows: 8rem;
	grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}*/

.admin { 
	margin-top: 10px;
	margin-right: 10px;
}

.admin__contenido { padding: 10px;}

.admin__botones {
	display: flex;
	flex-direction: column;
	height: 40vh;
}
.tarjeta_derecha{
    display: flex;
    flex-direction: column;
}

.vacio { height: 20vh; } 

.tarjeta__contenido{
	height: 80%;
}

.cupon__info {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

/*scroll*/
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.contenedor__cupones::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.contenedor__cupones::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.contenedor__cupones::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}

.table{
	height: 100%;
	background: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

th { padding: 20px; }

.comercio td { padding: 20px; }
.proveedor td { padding: 10px; }

thead{
	background-color: #4caf50;
	border-bottom: solid 5px #4caf50;
	color: white;
}

tbody tr:nth-child(even){
	background-color:#f1f1f1 ;
}

.detallesVentas {
	height: auto;
}

.detallesVentas thead {
	background-color: #f1f1f1;
	border-bottom: none;
	color: #333;
}


