*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #f7f7f7;
}

.busqueda{
    width: 80%;
    padding: 0px;
    border: 1px solid grey;
    background: white;
    margin: 35px auto;
}

.icono{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.input{
    font-size: 20px;
    width: 94%;
    padding: 10px;
    border: none;
    color: #666;
}

.container-relevante{
    margin-left: 985px;
    display: flex;
    border: none;

}

.ordenar{
    color: black;
}
/**
.ordenar{
    width: 100px;
}

.opciones{
    width: 200px;

}

**/

.input-1{
    font-size: 15px;
    border: none;
    outline: none;
}

.dropdown{
    position: relative;
}

.dropdown:hover .dropdown-list{
    opacity: 1;
    visibility: visible;
}

.dropdown-select{
    width: 30rem;
}

.dropdown-select{
    padding: 2px;
    border-radius: 10px;
    background-color: #f7f7f7;
    width: 100%;

    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
}

.dropdown-list{
    border: 1px solid grey;
    border-radius: 2px;
    background: white;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list__item{
    padding: 1rem;
    font-size: 15px;
}

.icon{
    color:blue;
}

.contenedor-paltero{
    display: grid;
    margin: auto;
    width: 80%;
    /**grid-template-columns: 300px 300px 300px;**/
    grid-auto-rows: 23rem;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    grid-gap: 1em;
}

.palta-1{
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    /**width: 250px;
    height: 350px;*//
    width: 100%;
    height: 100%;
    /**margin-left: 250px;
    margin-top: 20px;*//

    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);

}

.linea{
    margin-top: 100px;
}

/** .sombra:hover{
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
} **/

.contenedor-imagen{
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: centers;
}

.palta-img{
  
    object-fit: contain;
    width: 80%;
    height: 80%;
    margin: auto;
}

.monto{
    font-size: 20px;
    margin-left: 15px;
    color: black;
}

.descripcion{
    font-size: 19px;
    margin-top: 2px;
    margin-left: 15px;
    margin-right: 10px;
    color: black;
    overflow: hidden
}

label{
    color: #555;
    font-size: 18px;
}
