body{
    background: #f7f7f7;
}

.wrapper {
    margin: 35px auto 25px;
}

.contenedor-paltero{
    display: grid;
    margin: auto;
    width: 80%;
    grid-auto-rows: 21rem;
    grid-template-columns: repeat(auto-fit, minmax(15em, 20em));
    grid-gap: 1em;
}

.palta-1{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
}

.linea{
    margin-top: 100px;
}

.contenedor-imagen{
    border-bottom: 1.5px solid #ccc;
    display: flex;
    align-items: centers;
}

.palta-img{
    object-fit: contain;
    margin: auto;
    height: 13rem;
}

.monto{
    font-size: 25px;
    margin-left: 15px;
    color: #222;
}

.descripcion{
    font-size: 19px;
    margin-top: 2px;
    margin-left: 15px;
    margin-right: 10px;
    color: #222;
    overflow: hidden
}

label{
    color: #555;
    font-size: 18px;
}
