/*-----------------Cosas----------------------*/
body{ margin: 0; }
main{ margin-left: 15em; }

.texto{
    color: #666;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.button_verde{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #4caf50;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px auto;
}

.button_verde:hover{
    background: #e4bc6c;
    transition: all 0.2s ease-out;
}

.button_sec {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #e4bc6c;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button_sec:hover{
    background: #333333;
    color: #4caf50;
    border-color: #333333;
    transition: all 0.2s ease-out;
}

.input{
    font-size: 20px;
    /*width: 87%;*/
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    color: #666;
}

.input:focus{
    /*box-shadow: 0px 0px 10px var(--doradoLg);*/
    outline: none;
}

.sombra:hover{
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
    transition: all 0.2s ease-out;
}

:root {
    --green: #4caf50;
    --orange: #f9a825;
    --dark: #333333;
    --doradoDr: #b5a067;
    --doradoLg: #e4bc6c;
    --grey: #666666;
    --fondoLg: #fafafa;
/*----------------colores------------------*/
    --color-principal: #4caf50;
    --color-secundario-lg: #e4bc6c;
    --color-secundario-dr: #b5a067;
    --color-texto-lg: #666;
    --color-fondo: #fff;
    --color-fondo-lg: #fafafa;
    --color-fondo-dark: #333333;
    --color-icono-lg: #999; /*iconos y bordes suaves*/
}

/*----------------Header-------------------*/

.fondo_verde{
    width: 100%;
    background-color: #4caf50;
}

.maspixeles{ height: 5px; }

#header__titulo {
    font-size: 40px;
    padding: 12px 10px;
    font-family: Arial;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
}

.header__lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 9vh;
    max-height: 72px;
    top: 0;
    z-index: 100;
    position: sticky;
    background-color: #4caf50;
}

.header__item{ float: left; }

.header__link {
    display: block;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 25px 32px;
    text-decoration: none;
}

.header__link:hover:not(.active) {
    background-color: #e4bc6c;
}

.header__usuario{
    border-right: 1px solid #222;
    height: 9vh;
    max-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__out{
    padding: 0 32px;
    color: #222;
}

.header__flex{
    height: 9vh;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__dr{
    display: block;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 0 32px;
    text-decoration: none;
}

/*-----------MenuLateral-------------*/

.menu{
    top: 72px;
    position: fixed;
    left: 0;
    height: 100%;
    border-right: 1px solid #999;
    width: 15em;
    background: #f7f7f7;
}

.border-bottom{ border-bottom: 1px solid #999; }

.menu__contenido { padding: 1.1vh 0; }

.menu__opcion{
    display: flex;
    align-items: center;
    padding: 1.1vh 15px;
}

.menu__opcion:hover{ background: #f1f1f1; }

.menu__icono{
    width: 30px;
    height: 30px;
    color: #555;
    padding: 2.5px;
}

.menu__link{
    padding-left: 7.5px;
    cursor: pointer;
}

.menu__pie{
    border-top: 1px solid #999;
    position: fixed;
    bottom: 0;
    width: 15em;
}

/*----------Tarjeta--------------*/

.tarjeta{
    display: flex;
    flex-direction: column;
}

.tarjeta__header{
    background: var(--green);
    border: 1px solid #333;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-align: center;
    padding: 5px;
}

.tarjeta__titulo{ color: #000; }

.tarjeta__contenido{
    background: #fff;
    border: 1px solid #333;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    border-top: 0; 
    padding: 10px;
}

/*-----------Scroll--------------*/
.scroll{
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
    width:10px;
}

.scroll::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
    display: none;
} 

.scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/*-----------Footer--------------*/

.footer {
    background: #333333;
    margin: 0;
    height: 72px;
}

.footer__contenedor-Ab {
    display: inline-flex;
}

.footer__texto {
    padding: 27px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #999999;
}

.footer__icono {
    color: #999999;
    text-decoration: none;
    padding: 22px;
    display: flex;
}

/*-<a> no lleva decoracion. Punto-*/
a{ text-decoration: none; }
