body { background: #f7f7f7; }

label {
	color: #666;
	font-size: 20px;
	font-family: sans-serif;
}

.tarjeta {
	width: 80%;
	margin: auto;
	margin-top: 5vh;
}

.tarjeta label {
	color: #333;
}

.tarjeta__contenido div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 120px;
}

.tarjeta__contenido{
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.tarjeta__contenido label {
	line-height: 150%;
}

