body{
	background: #f7f7f7;
}

.contenedor-cuadrado{
	display: grid;
	grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    grid-gap: 1em;
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

.contenedor-padre{
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.cuadrado-1{
	box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
	background: white;
}


.contenedor-label{
	display: flex;
	flex-direction: column;
}

.label-1{
	color: black;
	font-size: 40px;
	padding: 20px;
	margin-top: 10px;
	margin-left: 1px;
}

.label-2{
	margin-top: 1px;
	margin-left: 22px;
}

.icono{
	margin-top: 10px;
	text-align: center;
	font-size: 45px;
	padding: 20px;
	color: #b5a067;
}

.tabla-title{
	margin-top: 70px;
	width: 700px;
	height: 60px;
	box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
	display: flex;
	border-bottom: 1px solid #ddd;
	background: white;	
}

.label-3{
	color: black;
	font-size: 20px;
	margin-top: 21px;
	margin-left: 13px;
}

.tabla-rol{
	/**margin-top: 2px;**/
	margin-top:0px ;
	width: 700px;
	height: 40px;
	box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
	display: grid;
	grid-auto-rows: 23rem;
	grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
	grid-gap: 1em;
	/**---**/
	background: white;
	border-bottom: 1px solid #ddd;
}

.label-4{
	color: black;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 13px;
}

.label-proveedor{
	color: black;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 45px;
}

.label-estado{
	color: black;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 60px;
}

.tabla-descripcion{
	/**margin-top: 2px;**/
	margin-top: 0px;
	width: 700px;
	height: 400px;
	border: 1px solid #aaa;
	box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
	/**---**/
	background: white;
	border: none;
}

.label-descripcion{
	color: black;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 13px;
}

.label-raul{
	color: black;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 110px;
}

.contenedor-status{
	display: flex;
	margin-left: 40px;
}

.label-status{
	color: black;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 10px;
}

.icon-status{
	color: green;
	margin-top: 12px;
	font-size: 15px;
}

/**
.icon-status{
	color: orange;
	margin-top: 12px;
	font-size: 15px;
}

.icon-status{
	color: red;
	margin-top: 12px;
	font-size: 15px;
}**/

.tabla-proveedores{
	margin-top: 70px;
	margin-left: 28px;
	width: 300px;
	height: 60px;
	border: 1px solid #aaa;
	box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
	/**---**/
	background: white;
	border: none;
	border-bottom: 1px solid #aaa;
}

.tabla-descripcion-proveedores{
	margin-top: 0px;
	margin-left: 28px;
	width: 300px;
	height: 445px;
	border: 1px solid #aaa;
	box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
	/**---**/
	background: white;
	border: none;
}

.contenedor-tabla-descripcion{
	display: grid;
	grid-auto-rows: 23rem;
	grid-template-columns: auto auto auto;
	grid-template-rows: 10px 10px 10px;
	grid-gap: 1em;
}

.contenedor-tabla-descripcion-proveedores{
	display: flex;
	padding: 10px;
}

.contenedor-tabla-descripcion-proveedores-1{
	padding: 10px;
	display: flex;
	margin-top: 1px;
}

.proveedor-img{
	width: 40px;
}

.nombre-rol{
	display: grid;
	margin-left: 1px;
	height: 50px;
	width: 130px;
}

.label-nombre{
	color: black;
	font-size: 15px;
}

.label-rol{
	color: #aaa;
	font-size: 15px;
}


.contenedor-icon-desc{
	margin-top: 10px;
	margin-right: 5px;
}

.desc{
	color: #b5a067;
	margin-left: 10px;
}
