body{
	background: #f7f7f7;
}

.contenedor-cuadrado{
	display: grid;
	grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: 1em;
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

.contenedor-padre{
	display: flex;
	justify-content: space-between;
}

.cuadrado-1{
	height: 100%;
	width: 100%;
	border: 1px solid #aaa;
	box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
}

.contenedor-label{
	display: flex;
	flex-direction: column;
}

.label-1{
	color: black;
	font-size: 40px;
	padding: 20px;
	margin-top: 10px;
	margin-left: 1px;
}

.label-2{
	margin-top: 1px;
	margin-left: 22px;
}

.icono{
	margin-top: 10px;
	min-width: 30px;
	text-align: center;
	font-size: 45px;
	padding: 20px;
	color: #b5a067;
}
