*{
	box-sizing: border-box;
}
main{ margin-top: 10px; }
body{
	background-color: white;
	font-family:  sans-serif;
}


.contenedor__cosas {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 5%;
	width: 80%;
	margin: 20px auto;
}

/** titulos **/

.codigos{
	width: 80%;
}

.input-codigo{
	font-size: 20px;
	margin-top: 10px;
	width: 100%;
}

.clearfix{
	clear: both;
}

/** botones **/

.barra{
	width: 80%;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button_verde { width: 200px; }

.total{
	text-indent: 10px;
	font-size: 28px;
	padding-left: 6%;
}

/** rectangulo de la derecha **/

.flex-container-padre{
 display: flex;
 width: 80%;
 margin-top: 10px;
 border: 1px solid #666;
}

.flex-container{
	border-right: 1px solid #999;
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 50%;
}

.hijos{
	width: 100%;
	margin-top: 15px;
	font-size: 18px;
}

.total-derecha{
	color:#555;
	font-size: 20px;
	margin-left: 1px;
	margin-top: 15px;
	
}

.container-tabla-buscador{
	height: 150px;
	width: 50%;
}

.manual__tabla{
	width: 100%;
}
.buscador-tr{
	width: 100%;
}
/** animacion horrible dela tabla**/
.buscador-tr:hover .buscador-td{
	background-color: #4caf50;
	color: white;
}

/**------------------------tabla-------------------------**/

.quitar{
	min-width: 50px;
    text-align: center;
    color: red;
}

#main-conteiner{
	margin: auto;
	width: 80%;
	margin-top: 1px;
	padding-top: 5vh;
}

.table{
	background: white;
	text-align: left;
	border-collapse: collapse;
	width:  100%;
}

.buscador__lista {
	padding: 0;
	margin: 0;
}

.buscador_dato {
	padding: 15px 10px;
	list-style: none;
	background: #f1f1f1;
	cursor: pointer;
}

.par { background: #f9f9f9; }

.buscador_dato:hover { background: var(--doradoLg); }

th,td{
	
	padding: 20px 80px 10px 40px;

}

thead{
	background-color: #4caf50;
	border-bottom: solid 5px #4caf50;
	color: white;
}
/**#ddd**/
tr:nth-child(even){
	background-color:#ddd ;
}
/** animacion horrible dela tabla**/
/**tr:hover td{
	background-color: #369681;
	color: white;
}**/

/** calculadora **/

/**borde negro de la calculadora**/
.calculator{
	height: 200px;
	width: 400px;
	background-color: black;
	box-shadow: 0px 0px 8px black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

/** cuadrado negro de la calculadora
.result-bar{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1rem;
	box-sizing: border-box;
} **/

.result-bar span{
	font-size: 70px;
}
/** tamaño de los botones**/
.controlls{
	height: 200px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 97.7px);
	grid-gap:  3px;

}

.number,.operator{
	font-size: 15px;
	color: #555;
	border: none;

}

.operator{
	background-color: white;
}
/** barra negra de resultado
.operator-out{
	width: 100%;
	height: 60px;
	background-color: black;
	margin-bottom:3px;
}**/

.number{
	background-color: white;
}

.result{
	background-color: green;
}

/**------------------------------**/
