
*{
	box-sizing: border-box;
}
main{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

/** titulos **/

.contenedor-titulos{
	width: 90%;
	display: flex;
	justify-content: normal;

}
.codigo-barra{
	margin-right: 700px;
	
}

.codigo-cliente{
	margin-left: 0.1px;
	}

.clearfix{
	clear: both;
}


/**input de codigo de cliente y codigo de barra**/
.input-codigo{
	width:550px;
	margin-top: 1px;
	padding: 10px;
	font-size: 20px;
}

/** botones **/

.barra{
	width: 40%;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.terminar{
	width: 200px;
	margin-left:57px;
	margin-top: 000.1px;
	padding: 15px 10px;
	color: white;
	background: #4caf50;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	border: none;
	float: left;
}

.cancelar{
	
	width: 200px;
	margin-left:57px;
	margin-top: 000.1px;
	padding: 15px 10px;
	color: white;
	background: #4caf50;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

.total{
	text-indent: 10px;
	margin-top: 50px;
	font-size: 28px;
}

/** rectangulo de la derecha **/

.flex-container-padre{
 display: flex;
 width: 80%;
}

.flex-container{
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	width: ;

}

.hijos{
	width: 100%;
	margin-top: 15px;

	font-size: 18px;
}

.total-derecha{
	color:grey ;
	font-size: 20px;
	margin-left: 1px;
	margin-top: 15px;
	border: 1px solid grey;
}

/**------------------------tabla-------------------------**/

body{
	background-color: white;
	font-family:  sans-serif;
}

#main-conteiner{
	margin:  150px auto;
	width:  900px;
}

.table{
	background: white;
	text-align: left;
	border-collapse: collapse;
	width:  100%;
}



th,td{
	
	padding: 20px 80px 10px 40px;

}

thead{
	background-color: #4caf50;
	border-bottom: solid 5px #4caf50;
	color: white;
}
/**#ddd**/
tr:nth-child(even){
	background-color:#ddd ;
}
/** animacion horrible dela tabla**/
/**tr:hover td{
	background-color: #369681;
	color: white;
}**/

/** calculadora **/

/**borde negro de la calculadora**/
.calculator{
	height: 200px;
	width: 400px;
	background-color: black;
	box-shadow: 0px 0px 8px black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

/** cuadrado negro de la calculadora
.result-bar{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1rem;
	box-sizing: border-box;
} **/

.result-bar span{
	font-size: 70px;
}
/** tamaño de los botones**/
.controlls{
	height: 200px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 97.7px);
	grid-gap:  3px;

}

.number,.operator{
	font-size: 15px;
	color: black;
	border: none;

}

input:focus{
	outline: none;
	border-color: black;
}

input:hover{
	filter: brightness(110%);
}



.operator{
	background-color: white;
}
/** barra negra de resultado
.operator-out{
	width: 100%;
	height: 60px;
	background-color: black;
	margin-bottom:3px;
}**/

.number{
	background-color: white;
}

.result{
	background-color: green;
}

/**------------------------------**/
