<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <meta charset="utf-8">
</head>
<body>
<header>
    <%- include('../partials/headerHome.html')%>
</header>
    <div class="contenedor_centrado">
    <h1 class="texto">Usted no esta logueado</h1>
    <a class="link" href="/home/Iniciar-sesion">Iniciar sesion</a>
    <div style="width: 100%; text-align: right;">
        <a class="link" href="/">Volver al inicio</a>
    </div>
    </div>
</form>