<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/predefinido.css">
    <meta charset="utf-8">
</head>
<body>
<header>
    <%- include('../partials/headerHome.html', {loged: false})%>
</header>
    <div class="contenedor_centrado">
    <h1 class="texto">Se le ha enviado un email a la cuenta:</h1>
    <label><%= email %></label><br><br>
    <div style="width: 100%; text-align: right;">
        <a class="link" href="/">Volver al inicio</a>
    </div>
    <%- dato %>
    </div>
</body>